* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: row;
}

/* left side of the page content starts */
.container .page-left {
    width: 42rem;
    height: 100vh;
    background: linear-gradient(to bottom, #0d52a7 5%, #4181d0 100%);
}

.container .page-left .page-left-content {
    color: white;
    text-align: center;
    padding-top: 4rem;
}

.page-left-content-p1 {
    font-size: 32px;
    font-weight: 300;
    font-family: 'poppins';
    line-height: 36px;
}

.page-left-content-p1 span {
    font-weight: 600;

}

.page-left-content img {
    width: 450px;
    height: 400px;
}

.page-left-content .page-left-content-p2 {
    font-size: 24px;
    font-weight: 300;
    font-family: 'poppins';
    line-height: 36px;
    margin-top: -10px;
}

/* left side of the page content ends */

/* right side of the page content starts */
.page-right .page-right-content {
    position: relative;
    left: 8rem;
    top: 2rem;
}



.page-right .page-right-content .vybog-img-div img {
    width: 157px;
    height: 41px;
    margin-left: 7rem;
    padding-top: -20px;
}


.page-right-content .f-l-name {
    display: flex;
}

.page-right-content .get-started-now {
    margin-top: 2.2rem;
    font-size: 22px;
    font-family: 'poppins';
}

.page-right-content form {
    margin-top: 2rem;
    width: fit-content;
}

.page-right .page-right-content label {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
}

.page-right .page-right-content .f-l-name input {
    border: 1px solid #ACACAC;
    width: 185px;
    height: 30px;
    border-radius: 3px;
    padding-left: 15px;
}

.f-l-name .l-name-div {
    position: relative;
    left: 1rem;
}

.page-right-content form #email {
    width: 386px;
    height: 30px;
    border: 1px solid #ACACAC;
    border-radius: 3px;
    padding-left: 15px;
}

.page-right-content form #password {
    width: 386px;
    height: 30px;
    border: 1px solid #ACACAC;
    border-radius: 3px;
    padding-left: 15px;
}

.page-right-content form #contact {
    width: 386px;
    height: 30px;
    border: 1px solid #ACACAC;
    border-radius: 3px;
    padding-left: 15px;
}

.page-right-content form #domain-industry {
    width: 386px;
    height: 30px;
    border: 1px solid #ACACAC;
    border-radius: 3px;
    padding-left: 15px;
}


.page-right-content .button {
    margin-top: 20px;
    position: relative;
    left: 10.7rem;
}
.button .cancel-btn {
    width: 80px;
    height: 30px;
    border: 1px solid #ACACAC;
    border-radius: 3px;
    padding-left: 5px;
}

.button .create-btn {
    width: 120px;
    height: 30px;
    border: 1px solid #ACACAC;
    border-radius: 3px;
    padding-left: 5px;
    margin-left: 12px;
    background-color: #0d52a7;
    color: #ffff;
}

/* right side of the page content ends */